*.o
*.a
*.so
*.so.*
*.dll
*.lib
*.exp
*.exe
*.patch
*.diff
*.orig
*.rej
CMakeFiles
CMakeCache.txt
CMakeSettings.json
cmake_install.cmake
desktop.ini
Makefile
.vs
.vscode
.SynologyWorkingDirectory
/out
/build
/install
